*/maketest.g
*/doc/*.xml
*/doc/chap*.html
*/doc/chap*.txt
*/doc/*.css
*/doc/*.js
*/doc/chooser.html
*/doc/*.aux
*/doc/*.bbl
*/doc/*.blg
*/doc/*.brf
*/doc/*.idx
*/doc/*.ilg
*/doc/*.ind
*/doc/*.lab
*/doc/*.log
*/doc/*.out
*/doc/*.pnr
*/doc/*.six
*/doc/*.tex
*/doc/*.toc
*/doc/manual.pdf

/tmp/
/gh-pages/

cohomCalgInterface/cohomCalg/
cohomCalgInterface/binAndMonomialFiles/*
! cohomCalgInterface/binAndMonomialFiles/Info.txt

SpasmInterface/gap/SpasmDirectory.txt
SpasmInterface/spasm/

H0Approximator/bin/*
! H0Approximator/bin/counter
! H0Approximator/bin/counterH2

*/tst/truncationsoffpgradedmodules*
*/tst/toricvarieties*
*/tst/additionsfortoricvarieties*
*/tst/toolsforfpgradedmodules*
*/tst/coherentsheavesontoricvarieties*
*/tst/cohomcalginterface*
*/tst/h0approximator*
*/tst/sparsematrices*
*/tst/spasminterface*
*/tst/sheafcohomologyontoricvarieties*
*/tst/qsmexplorer*
*/tst/jconvex*

*/stats*
*/coverage*
*/performance*

QSMExplorer/bin/RootCounterHiggs/listOfOutfluxes
QSMExplorer/bin/RootCounterHiggs/listOfOutfluxes.o
QSMExplorer/bin/RootCounterHiggs/outfluxes_H1.txt
QSMExplorer/bin/RootCounterHiggs/outfluxes_H2.txt
QSMExplorer/bin/RootCounterHiggs/ConquerStep.cpp
QSMExplorer/bin/RootCounterHiggs/ConquerStep.o
QSMExplorer/bin/RootCounterHiggs/DivideStep.cpp
QSMExplorer/bin/RootCounterHiggs/DivideStep.o
QSMExplorer/bin/RootCounterHiggs/RootCounter/distributionCounter
QSMExplorer/bin/RootCounterHiggs/RootCounter/main.o
QSMExplorer/bin/RootCounterHiggs/conquerStep
QSMExplorer/bin/RootCounterHiggs/divideStep
QSMExplorer/bin/RootCounterHiggs/distributionCounterHiggsCurve
QSMExplorer/bin/RootCounterHiggs/HiggsMain.o
QSMExplorer/bin/RootCounter/main-speciality.o
QSMExplorer/bin/RootCounter/specialityChecker
QSMExplorer/bin/RootCounterHiggs/d1.txt
QSMExplorer/bin/RootCounterHiggs/d2.txt
QSMExplorer/bin/RootCounterHiggs/f1.txt
QSMExplorer/bin/RootCounterHiggs/f2.txt
QSMExplorer/boost/boost_1_77_0
QSMExplorer/boost/library
QSMExplorer/bin/RootCounter/listOfOutfluxes
QSMExplorer/bin/RootCounter/listOfOutfluxes.o
QSMExplorer/bin/Speciality/main-speciality.o
QSMExplorer/bin/Speciality/specialityChecker
QSMExplorer/bin/PartialBlowups/partialBlowups
QSMExplorer/bin/PartialBlowups/partial_blowup.o
QSMExplorer/bin/PartialBlowups/rootsPowersKC
QSMExplorer/bin/PartialBlowups/roots_powers_KC.o
QSMExplorer/bin/PartialBlowups/partialBlowupsAllTrees
QSMExplorer/bin/PartialBlowups/partial_blowup_rational_all_trees.o
QSMExplorer/UnsortedSetups.txt

TopcomInterface/topcom*
TopcomInterface/tst/topcom*
