*/maketest.g
*/doc/*.xml
*/doc/chap*.html
*/doc/chap*.txt
*/doc/*.css
*/doc/*.js
*/doc/chooser.html
*/doc/*.aux
*/doc/*.bbl
*/doc/*.blg
*/doc/*.brf
*/doc/*.idx
*/doc/*.ilg
*/doc/*.ind
*/doc/*.lab
*/doc/*.log
*/doc/*.out
*/doc/*.pnr
*/doc/*.six
*/doc/*.tex
*/doc/*.toc
*/doc/manual.pdf

/tmp/
/gh-pages/

cohomCalgInterface/cohomCalg/
cohomCalgInterface/binAndMonomialFiles/*
! cohomCalgInterface/binAndMonomialFiles/Info.txt

SpasmInterface/gap/SpasmDirectory.txt
SpasmInterface/spasm/

H0Approximator/bin/*
! H0Approximator/bin/counter
! H0Approximator/bin/counterH2

*/tst/truncationsoffpgradedmodules*
*/tst/toricvarieties*
*/tst/additionsfortoricvarieties*
*/tst/toolsforfpgradedmodules*
*/tst/coherentsheavesontoricvarieties*
*/tst/cohomcalginterface*
*/tst/h0approximator*
*/tst/sparsematrices*
*/tst/spasminterface*
*/tst/sheafcohomologyontoricvarieties*
*/tst/qsmexplorer*
*/tst/jconvex*

*/stats*
*/coverage*
*/performance*

QSMExplorer/bin/RootCounter/WDiagram.o
QSMExplorer/bin/RootCounter/main.o
QSMExplorer/bin/RootCounter/distributionCounter
QSMExplorer/bin/RootCounter/main-speciality.o
QSMExplorer/bin/RootCounter/specialityChecker
QSMExplorer/bin/RootCounter/HiggsMain.o
QSMExplorer/bin/RootCounter/distributionCounterHiggsCurve
QSMExplorer/boost/boost_1_77_0
QSMExplorer/boost/library


TopcomInterface/topcom*
TopcomInterface/tst/topcom*
